@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --editor-banner-height: 0px;
  --toolbar-height: 56px;
}

.input-ghost {
  @apply hover:border hover:border-base-content/20;
  @apply focus:border focus:border-accent/20;
  @apply focus-within:border focus-within:border-accent/20;
}

.input {
  @apply focus:outline-none;
  @apply focus-within:outline-1 focus-within:outline-accent focus-within:outline-offset-0;
}

.input-borderless-sm {
  @apply input-sm bg-base-content/20 text-base-content/80;
  @apply m-0 py-0;
  @apply h-5;
  @apply focus:outline-none;
  @apply focus-within:outline-1 focus-within:outline-accent focus-within:outline-offset-0;
}

.divider {
  @apply my-0;
}

.border-panel {
    @apply border-[1px] border-base-content/20;
}

@layer {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
